.Editor {
    margin: 10px auto;
    width: 600px;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.3);
}

.Editor label {
    /* position: relative;  */
    border: 1px solid black;
    border-bottom: 0;
    margin: 0 auto;
    padding: 7px;
    box-sizing: border-box;
    font-weight: 700;
    background-color: #711bb1;
    display: block;
    text-transform: uppercase;
}

.Editor button {
    cursor: pointer;
    border: 1px solid black;
    float: right;
    border-radius: 5px;
}

.EditorWindow {
    resize: vertical;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #d1bae2;
    display: block;
}

@media (max-width: 821px) {
    .Editor {
        max-width: 75%;
    }
}