.Previewer {
    margin: 25px auto;
    width: 820px;
    /* box-sizing: border-box; */
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.3);
}

.Previewer label {
    border: 1px solid black;
    border-bottom: 0;
    margin: 0 auto;
    padding: 7px;
    box-sizing: border-box;
    background-color: #711bb1;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}

.PreviewerWindow {
    resize: vertical;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #d1bae2;
}

@media (max-width: 821px) {
    .Previewer {
        width: 780px;
        max-width: 90%;
    }
}